<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DoTheDancing-External.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DoTheDancing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C428898918769D3C001FFB3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C42889AB18769D3C001FFB3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C45EE0D9187697D2003DF245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C45EE0FB187697D3003DF245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4933675185453010027C38C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C493369D185453010027C38C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
